<ion-header>
  <ion-toolbar>
    <ion-title>Embajales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let embalaje of embalajes">
    <ion-item>
      <ion-label>{{embalaje.embalaje}}</ion-label>

      <ion-button [routerLink]="['../embalaje-form', embalaje.codigo]" expand="block" fill="clear" shape="round">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/embalaje-form">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
