<ion-header>
  <ion-toolbar>
    <ion-title>Unidad De Medida</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let unidad of unidades">
    <ion-item>

      <ion-label>{{unidad.unidad}} ({{unidad.simbolo}})</ion-label>

      <ion-button [routerLink]="['../unidad-medida-form', unidad.codigo]" expand="block" fill="clear" shape="round">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>

      <ion-button (click)="msgDelete(unidad.codigo)"  [disabled]="false" expand="block" fill="clear" shape="round">
        <ion-icon color="danger" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
    
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/unidad-medida-form">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
